.page {
  position: absolute;
  left: 0;
  right: 0;
}

.fade-appear.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms linear;
}

.fade-appear-active.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms linear 200ms;
}

.background {
  background-image: url("https://www.atlantisbahamas.com/media/Things%20To%20Do/Entertainment/Hero/Experiences_Theater_Hero.jpg");
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.transparent {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
